*{
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


a{
    text-decoration: none;
}

ul{
    list-style: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pretendard';
    color: #092043;
    background-color: #ECF0F9;
    overflow-x: hidden;
}

#wrap{
    width: 92vw;
    /* border: 1px solid red; */
    background-color: #ECF0F9;
    
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #092043;
    color: #fff;
    width: 100vw;
    height: 3vw;
    padding-top: 1.4vw;
    position: fixed;
    top: 0;
    left: 0;
    /* right: 4vw; */
    z-index: 20;
}

header h3{
    margin-left: 1.5vw;
    font-size: 1.4vw;
}

header ul{
    display: flex;
}

header ul li{
    margin-right: 2vw;
}

header ul li a {
    color: #ffffffa6;
    font-weight: 200;
    display: inline-block;
    transition: transform 0.2s ease; 
    font-size: 0.9vw;
}

header ul li a:hover {
    transform: scale(1.2); 
}


#main{
    width: 100vw;
    height: 40vw;
    /* border: 1px solid red; */
    background-color: #092043;
    position: relative;
    right: 4vw;
}

#main h4{
    font-size: 1vw;
    color: #458FFF;
    position: absolute;
    top: 9.3vw;
    left: 9vw;
    font-weight: 500;
}

#main h1{
    font-size: 8vw;
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 11vw;
    left: 8.7vw;
}

#main p{
    font-size: 1.3vw;
    color: #ffffffa3;
    font-weight: 300;
    line-height: 160%;
    position: absolute;
    top: 22vw;
    left: 8.9vw;
}


#planning{
    width: 100%;
    height: 55vw; 
    /* height: auto; */
    background-color: #ECF0F9;
    /* border: 1px solid red; */
}


.tag {
    /* width와 height는 삭제! */
    display: inline-flex; /* 내용물 크기에 맞춰 상자가 작아지면서, 내부 정렬을 가능하게 해 줌 */
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */
    
    background-color: #458FFF;
    padding: 0.4vw 0.97vw; /* 이 여백(padding)이 피그마의 오토 레이아웃 여백 역할을 해 */
    color: #fff;
    border-radius: 3vw;
    font-size: 0.76vw;
    font-weight: 700;
    white-space: nowrap; /* 글자가 길어지거나 부모 상자가 좁아도 절대 줄바꿈되지 않게 막아줌 */
    margin-bottom: 0.8vw;
    margin-top: 8vw;
}

#planning h1{
    font-size: 2.3vw;
    font-weight: 900;
    margin-bottom: 1.4vw;
}

#planning h1 span{
    font-size: 3vw;
}

#planning p{
    font-size: 1vw;
    line-height: 160%;
    font-weight: 500;
}

#planning p span{
    color: #458FFF;
    font-weight: 700;
}

#planning ul{
    position: relative;
    top: 7vw;
}

#planning ul li{
    margin-bottom: 3vw;
}

#planning ul h5{
    color: #458FFF;
    font-size: 0.78vw;
    font-weight: 700;
    margin-bottom: 0.3vw;
}

#planning ul h3{
    font-size: 1.7vw;
    font-weight: 800;
    margin-bottom: 0.7vw;
}

#planning ul p{
    font-size: 1vw;
}




#insight{
    width: 100%;
    height: 60vw;
    /* border: 1px solid blue; */
    background-color: #ECF0F9;
    position: relative;
}

#insight .insight-1, .insight-2, .insight-3, .insight-4{
    margin-bottom: 3.5vw;
}

#insight h2{
    font-size: 1.8vw;
    font-weight: 800;
    margin-bottom: 1vw;
}

#insight p{
    width: 63%;
    font-size: 1vw;
    line-height: 160%;
    font-weight: 500;
}


#service{
    width: 100vw;
    height: 52.71vw;
    position: relative;
    background-image: url('img/value-bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: 10px solid red; */
    position: relative;
    right: 4vw;
}

#service h2{
    color: #fff;
    font-size: 2vw;
    line-height: 130%;
    margin-bottom: 0.8vw;
    position: relative;
    left: 4vw;
    top: 4vw;
}

#service h1{
    color: #fff;
    font-size: 2.7vw;
    position: relative;
    left: 4vw;
    top: 4vw;
}

#service h1 span{
    color: #458FFF;
    font-weight: 900;
}


#service .value{
    display: flex;
    position: relative;
    left: 7.5vw;
    top: 24vw;
}

#service .value li{
    margin: 1.4vw;
}

#service .value-1, .value-2, .value-3{
    width: 23vw;
    height: 9vw;
    background-color: #ffffff54;
    padding: 1.5vw 1.3vw;
    border: 0.053vw solid #ffffffa2;
    border-radius: 1vw;
    backdrop-filter: blur(0.9px); 
    -webkit-backdrop-filter: blur(0.9px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

#service .value-1 h4, .value-2 h4, .value-3 h4{
    color: #bbbbbb;
    font-weight: 300;
    font-size: 0.8vw;
    margin-top: 0.7vw;
    margin-bottom: 0.8vw;
}

#service .value-1 p, .value-2 p, .value-3 p{
    color: #fff;
    font-weight: 300;
    font-size: 0.93vw;
    line-height: 160%;
}

#service .value-1 h3{
    color: #FF5757;
}

#service .value-2 h3{
    color: #57A0FF;
}

#service .value-3 h3{
    color: #03B122;
}


#IA{
    width: 100vw;
    height: 93vw;
    /* border: 1px solid red; */
    background-color: #F6F6F6;
    position: relative;
    right: 4vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#IA h2{
    font-size: 1.9vw;
    font-weight: 800;
    position: relative;
    right: 38.5vw;
    margin-bottom: 3vw;
    /* margin-top: 0vw; */
}

#IA img{
    width: 83.33vw;
}

#IA img:nth-child(2){
    margin-bottom: 4vw;
}

#design-system{
    width: 100%;
    height: 150vw;
    /* border: 1px solid red; */
    padding-top: 10vw;
}

#design-system h2{
    font-size: 1.9vw;
    font-weight: 800;
    margin-bottom: 3vw;
    /* position: relative;
    left: 5vw; */
}

.small-tag{
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 1vw;
}

.small-tag .circle{
    width: 0.4vw;
    height: 0.4vw;
    background-color: #458FFF;
    border-radius: 100%;
    margin-right: 0.9vw;
}

.small-tag p{
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 6%;
    color: #8899B8;
}

#design-system h3{
    font-size: 1.1vw;
    font-weight: 600;
    color: #8899B8;
    margin-bottom: 4vw;
}

#design-system h4{
    font-size: 1vw;
    font-weight: 600;
    margin-bottom: 0.7vw;
    position: relative;
    left: 0.8vw;
    color: #8899B8;
}

#design-system .color-1, .color-2{
    display: flex;
    margin-bottom: 3.5vw;
}

#design-system .color-2{
    margin-bottom: 10vw;
}

#design-system .color-1 li, .color-2 li{
    width: 12.29vw;
    height: 12.29vw;
    border-radius: 1.3vw;
    margin-right: 2vw;
}

#design-system .color-1 li:nth-child(1){
    background-color: #092043;
}
#design-system .color-1 li:nth-child(2){
    background-color: #458FFF;
}
#design-system .color-1 li:nth-child(3){
    background-color: #CFE2FF;
}
#design-system .color-1 li:nth-child(4){
    background-color: #ECF0F9;
    border: 0.0052vw solid #8CAAD9;
}
#design-system .color-1 li:nth-child(5){
    background-color: #FFFFFF;
}



#design-system .color-2 li:nth-child(1){
    background-color: #FF9F43;
}
#design-system .color-2 li:nth-child(2){
    background-color: #8B5CF6;
}
#design-system .color-2 li:nth-child(3){
    background-color: #10B981;
}
#design-system .color-2 li:nth-child(4){
    background-color: #EF4444;
    /* border: 0.0052vw solid #8CAAD9; */
}
#design-system .color-2 li:nth-child(5){
    background-color: #1E293B;
}


#design-system .typo{
    margin-bottom: 10vw;
}

#design-system .typo li{
    margin-bottom: 2vw;
}

#design-system .typo h5{
    margin-bottom: 1.2vw;
    font-size: 1.1vw;
    font-weight: 400;
    color: #8899B8;
}

#design-system .typo h1{
    font-size: 9vw;
    font-weight: 800;
}

#design-system .typo h2{
    font-size: 2.5vw;
    font-weight: 600;
}

#design-system .typo h3{
    font-size:1.6vw;
    font-weight: 400;
}

#design-system .typo h4{
    font-size:1.2vw;
    font-weight: 600;
    color: #458FFF;
}

#design-system .typo h6{
    font-size:1vw;
    font-weight: 400;
    color: #8899B8;
}


#design-system .logo{
    display: flex;
}

#design-system .logo img{
    height: 14.90vw;
    margin-right: 2vw;
}

#design-system .logo img:nth-child(1){
    margin-right: 2vw;
}

#design-system .logo img:nth-child(2){
    margin-right: 5vw;
}


#UIdesign{
    width: 100vw;
    height: 490vw;
    /* border: 1px solid red; */
    position: relative;
    left: -4vw;
    background-color: #fff;
    padding-top: 10vw;
}


#UIdesign .character-1 img{
    width: 85.10vw;
    /* border: 1px solid red; */
    position: relative;
    left: 7.2vw;
    margin-bottom: 10vw;
}

#UIdesign .character-2 img{
    width: 88.13vw;
    /* border: 1px solid red; */
    position: relative;
    left: 5.6vw;
    margin-bottom: 15vw;
}

#UIdesign h2{
    font-size: 1.9vw;
    font-weight: 800;
    position: relative;
    left: 4vw;
    margin-bottom: 7vw;
}

#UIdesign h3{
    font-size: 1.1vw;
    font-weight: 600;
    color: #8899B8;
    margin-bottom: 4vw;
    position: relative;
    left: 4vw;
}

#UIdesign .small-tag{
    position: relative;
    left: 4vw;
}

#UIdesign h4{
    font-size: 1.1vw;
    font-weight: 600;
    color: #8899B8;
    margin-bottom: 3vw;
    position: relative;
    left: 4vw;
}

#UIdesign .web{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    /* border: 1px solid red; */
    margin-bottom: 15vw;
}

#UIdesign .web li {
    display: flex;          /* 가로 정렬을 위한 Flexbox 활성화 */
    flex-direction: row;    /* 왼쪽에서 오른쪽으로 가로 배치 (기본값) */
    align-items: flex-start; /* ★핵심: 이미지들의 위쪽(TOP) 라인을 기준으로 정렬 */
    
    gap: 4vw;      /* 이미지와 이미지 사이의 간격 (원하는 만큼 조절해!) */
}

#UIdesign .web img{
    width: 20vw;
}

#UIdesign .parent{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 15vw;
}

#UIdesign .parent li{
    display: flex;
    gap: 3vw;
}

#UIdesign .parent li img{
    width: 37vw;
    /* margin: 5vw; */
    margin-bottom: 3.6vw;
}


#UIdesign .kids{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

#UIdesign .kids li{
    display: flex;
    gap: 3vw;
}

#UIdesign .kids li img{
    width: 37vw;
    /* margin: 5vw; */
    margin-bottom: 3.6vw;
}


#Prototype{
    width: 100%;
    height: 50vw;
    /* border: 1px solid red; */
    padding-top: 0vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


#Prototype h2{
    margin-bottom: 4vw;
    font-size: 1.9vw;
    font-weight: 800;

}

#Prototype .Prototype-area{
    background-color: #092043;
    width: 64vw;
    height: 20vw;
    margin: 0 auto;
    display: flex;
    padding: 3vw;
    border-radius: 2vw;
}

#Prototype .Prototype-area h5{
    font-size: 0.9vw;
    font-weight: 400;
    color: #8899B8;
    margin-bottom: 0.5vw;
}

#Prototype .Prototype-area h1{
    font-size: 3.7vw;
    font-weight: 800;
    color: #fff;
    margin-bottom: 1.4vw;
}

#Prototype .Prototype-area h3{
    font-size: 1.1vw;
    font-weight: 500;
    color: #458FFF;
    line-height: 160%;
}

#Prototype .Prototype-area .Prototype-left{
    /* border: 1px solid red; */
    position: relative;
    top: 1.9vw;
    left: 0.9vw;
}

#Prototype .Prototype-area .Prototype-right{
    /* border: 1px solid red; */
    position: relative;
    left: 10vw;
}

#Prototype .button-1, .button-2{
    width: 22vw;
    height: 5.5vw;
    background-color: #ffffff10;
    border: 0.052vw solid #ffffff69;
    border-radius: 0.8vw;
    padding: 2vw;
    margin-bottom: 1.5vw;
}

#Prototype .Prototype-right h4{
    color: #8899B8;
    font-size: 1.08vw;
    font-weight: 500;
    margin-bottom: 1.7vw;
}

#Prototype button{
    width: 21.9vw;
    height: 2.7vw;
    border: none;
    border-radius: 0.6vw;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

#Prototype button:hover {
    transform: scale(1.05); /* 숫자를 1.08이나 1.1로 바꾸면 더 크게 커져! */
}

#Prototype button a{
    color: #fff;
    font-size: 0.92vw;
    font-weight: 500;
    position: relative;
    right: 6vw;
}

#Prototype button img{
    position: relative;
    left: 12.2vw;
    width: 1.2vw;
}

#Prototype .button-1 button{
    background-color: #458FFF;
}

#Prototype .button-2 button{
    background-color: #8B5CF6;
}


#Prototype .button-1 button:hover {
    background-color: #2570E6; 
}

#Prototype .button-2 button:hover {
    background-color: #7240E6; 
}


footer{
    width: 100vw;
    height: 30vw;
    background-color: #092043;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 4vw;
}


footer h2{
    color: #fff;
    font-size: 5vw;
    font-weight: 800;
    margin-bottom: 1vw;
}

footer h3{
    color: #458FFF;
    font-weight: 500;
    font-size: 1.2vw;
    margin-bottom: 3.5vw;
}

footer .line{
    width: 5vw;
    height: 0.2vw;
    background-color: #273B5A;
    margin-bottom: 3.5vw;
}

footer h4{
    color: #78808c;
    font-weight: 300;
    font-size: 1.2vw;
}